@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'styles/reset';

html {
  background-color: #165b4d;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

#app {
  width: 100%;
}

.n-card {
  max-width: 15rem;
  position: relative;
  padding-block: 1rem;

  .error-message {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.2;
    width: 100%;
    color: red;
    overflow: hidden;
    pointer-events: none;

    span {
      display: block;
      transform: translateY(-100%);
      transition: transform .1s ease-in-out;
    }

    &.active {
      span {
        transform: translateY(0)
      }
    }
  }

  .n-input {
    margin-bottom: 1.5rem;
  }

  .n-button {
    width: 100%;
  }
}

.table {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    padding-inline: 0;
    padding-block: 0;
  }
}

.n-tab {
  &s {
    --n-tab-text-color-active: #ffa800 !important;
    --n-tab-text-color-hover: #ffa800 !important;
    max-width: 650px;

    .n-tab-pane {
      column-gap: 16px;
      display: grid;
      row-gap: 16px;
      transition: opacity .1s ease-in-out;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 32px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      @media (max-width: 768px) {
        padding-inline: 1rem;
        padding-block: 1rem;
      }
      @media (max-width: 525px) {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
      }
    }

    .n-tabs-bar {
      background-color: #ffa800;
      height: 1px;
    }

    .n-tabs-tab {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .02em;
      line-height: 1.1;
      padding-bottom: 2px;
      position: relative;
      text-transform: uppercase;
      transition: color .2s ease-in-out;
      color: white;
    }
  }
}

.base-card {
  border: 1px solid #ffa800;
  color: white;
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out, colors .1s ease-in-out;
  //width: 140px;
  height: 96px;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &-wrapper {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
  }

  &-line {
    background-color: #ffa800;
    height: 1px;
    width: 24px;

    .active & {
      background-color: #223024;
    }
  }

  input {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: -5px;
    left: -5px;
    position: absolute;
  }

  &.active {
    background-color: #ffa800;
    color: #223024;
  }
}
